@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body {
    background: url('https://wallpapercave.com/wp/wp6037549.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Architects Daughter, sans-serif;
    margin: 0;
    padding: 0;
}