body {
    background: url('https://wallpapercave.com/wp/wp6037549.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    font-family: Architects Daughter, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 600px;
    margin: auto;
    width: 45%;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.form-buttons {
    display: flex;  /* Aliniere orizontală */
    justify-content: space-between;  /* Spațiere uniformă între butoane */
    width: 100%;  /* Asigură-te că butoanele vor ocupa întreaga lățime */
    margin-top: 20px;  /* Spațiu între formular și butoane */
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
